<form method="post" action="/crud_adminController/register_classadmin">
Username:<input type="text" name="username"><br>
Password:<input type="text" name="password"><br>
Major Student:<input type="text" name="majors"><br>
Major Faculty:<input type="text" name="majorf"><br>
<input type="submit" value="Submit">
<a href="/crud_adminController/list_classadmin">LIST</a>
</form>